body {
    background-color: rgb(106, 139, 158);
}

h2 {
    font-style: italic; 
}

button{
    background-color: antiquewhite;
    border:double; 
}

.content {
    text-align: center;
    margin: auto;
}

#solveBtn {
    font-size: 20px;
}



table#maintable {
    border-spacing: 10px;
    margin: auto;
}
